{
  "openapi": "3.1.0",
  "info": {
    "title": "DopamineCoreAPI",
    "version": "0.4.1"
  },
  "servers": [
    {
      "url": "https://api.dop.wtf",
      "description": "production"
    }
  ],
  "paths": {
    "/api/v0/programs/program": {
      "post": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Create Program",
        "description": "Create a new program",
        "operationId": "create_program_api_v0_programs_program_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgramRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get Program",
        "description": "Get program by ID",
        "operationId": "get_program_api_v0_programs_program__program_id__get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get All Programs",
        "description": "Get all programs with their related program objects and tokens",
        "operationId": "get_all_programs_api_v0_programs__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FullProgramResponse"
                  },
                  "type": "array",
                  "title": "Response Get All Programs Api V0 Programs  Get"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/dop_price": {
      "post": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Add Program Dop Price",
        "description": "Add a new dop price to a program",
        "operationId": "add_program_dop_price_api_v0_programs_program__program_id__dop_price_post",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProgramDopPriceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddProgramDopPriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/last_dop_price": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get Last Dop Price",
        "description": "Get the last dop price by program ID",
        "operationId": "get_last_dop_price_api_v0_programs_program__program_id__last_dop_price_get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastDopPriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/total_dop_score": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get Total Dop Score By Program",
        "description": "Get total dop score by program",
        "operationId": "get_total_dop_score_by_program_api_v0_programs_program__program_id__total_dop_score_get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          },
          {
            "name": "dops_system",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DopsSystem",
              "description": "DOPS system type",
              "default": "decay_factor_only"
            },
            "description": "DOPS system type"
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Days",
              "title": "Days"
            },
            "description": "Days"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTotalDopScoreByProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/total_dop_scores": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get Total Dop Score By Programs",
        "description": "Get total dop score by all programs",
        "operationId": "get_total_dop_score_by_programs_api_v0_programs_total_dop_scores_get",
        "parameters": [
          {
            "name": "dops_system",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DopsSystem",
              "description": "DOPS system type",
              "default": "decay_factor_only"
            },
            "description": "DOPS system type"
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Days",
              "title": "Days"
            },
            "description": "Days"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetTotalDopScoreByProgramResponse"
                  },
                  "title": "Response Get Total Dop Score By Programs Api V0 Programs Total Dop Scores Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/dops_reward_pools/batch": {
      "post": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Add Program Dops Reward Pools Batch",
        "description": "Add a program dops reward pools batch",
        "operationId": "add_program_dops_reward_pools_batch_api_v0_programs_program__program_id__dops_reward_pools_batch_post",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddProgramDopsRewardPoolRequest"
                },
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddProgramDopsRewardPoolResponse"
                  },
                  "title": "Response Add Program Dops Reward Pools Batch Api V0 Programs Program  Program Id  Dops Reward Pools Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/dops_reward_pool": {
      "get": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Get Program Dops Reward Pool By Period",
        "description": "Get program dops reward pool by period",
        "operationId": "get_program_dops_reward_pool_by_period_api_v0_programs_program__program_id__dops_reward_pool_get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Period",
              "title": "Period"
            },
            "description": "Period"
          },
          {
            "name": "dops_system",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DopsSystem"
                },
                {
                  "type": "null"
                }
              ],
              "description": "DOPS system type (optional). If omitted, no filter by dops_system is applied.",
              "title": "Dops System"
            },
            "description": "DOPS system type (optional). If omitted, no filter by dops_system is applied."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramDopsRewardPoolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/taostats_data": {
      "post": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Add Taostats Program Data",
        "description": "Add Taostats program data",
        "operationId": "add_taostats_program_data_api_v0_programs_program_taostats_data_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddTaostasProgramDataRequest"
                },
                "type": "array",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AddTaostatsProgramDataResponse"
                  },
                  "type": "array",
                  "title": "Response Add Taostats Program Data Api V0 Programs Program Taostats Data Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/{program_id}/delist": {
      "patch": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Delist Program",
        "description": "Delist an active program by program ID",
        "operationId": "delist_program_api_v0_programs_program__program_id__delist_patch",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelistProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/programs/program/tao_price": {
      "post": {
        "tags": [
          "api-v0",
          "programs"
        ],
        "summary": "Add Tao Token Price Data",
        "description": "Add TAO token price data",
        "operationId": "add_tao_token_price_data_api_v0_programs_program_tao_price_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTaoTokenPriceDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaoTokenPriceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper": {
      "post": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Create Yapper",
        "description": "Create a new yapper",
        "operationId": "create_yapper_api_v0_yappers_yapper_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateYapperRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateYapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get Yapper",
        "description": "Get yapper by ID",
        "operationId": "get_yapper_api_v0_yappers_yapper_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Yapper ID",
              "title": "Id"
            },
            "description": "Yapper ID"
          },
          {
            "name": "twitter_handle",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Twitter handle",
              "title": "Twitter Handle"
            },
            "description": "Twitter handle"
          },
          {
            "name": "twitter_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Twitter user ID",
              "title": "Twitter User Id"
            },
            "description": "Twitter user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}/link2program/{program_id}": {
      "post": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Link Yapper To Program",
        "description": "Link a yapper to a program",
        "operationId": "link_yapper_to_program_api_v0_yappers_yapper__yapper_id__link2program__program_id__post",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          },
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkYapperToProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}/find_in_program/{program_id}": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Check If Yapper In Program",
        "description": "Check if a yapper is in a program",
        "operationId": "check_if_yapper_in_program_api_v0_yappers_yapper__yapper_id__find_in_program__program_id__get",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          },
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIfYapperInProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}/yap_score": {
      "post": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Add Yap Score To Yapper",
        "description": "Add a yap score to a yapper",
        "operationId": "add_yap_score_to_yapper_api_v0_yappers_yapper__yapper_id__yap_score_post",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddYapScoreToYapperRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddYapScoreToYapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}/tags": {
      "post": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Add Tags To Yapper",
        "description": "Add tags to a yapper",
        "operationId": "add_tags_to_yapper_api_v0_yappers_yapper__yapper_id__tags_post",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagsToYapperRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTagsToYapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get All Yappers",
        "description": "Get all yappers with their latest yap_score_30d",
        "operationId": "get_all_yappers_api_v0_yappers__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/YapperAdjustedResponse"
                  },
                  "type": "array",
                  "title": "Response Get All Yappers Api V0 Yappers  Get"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/check": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Check If Yapper Exists By Twitter User Id",
        "description": "Check if yapper exists by twitter user id",
        "operationId": "check_if_yapper_exists_by_twitter_user_id_api_v0_yappers_yapper_check_get",
        "parameters": [
          {
            "name": "twitter_user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Twitter user ID",
              "title": "Twitter User Id"
            },
            "description": "Twitter user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIfYapperExistsByTwitterUserIdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}": {
      "patch": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Update Yapper",
        "description": "Update yapper's twitter handle and display name",
        "operationId": "update_yapper_api_v0_yappers_yapper__yapper_id__patch",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateYapperRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_in_program_id}/dops_multiplier": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get Yapper Dops Multiplier",
        "description": "Get yapper's dops multiplier",
        "operationId": "get_yapper_dops_multiplier_api_v0_yappers_yapper__yapper_in_program_id__dops_multiplier_get",
        "parameters": [
          {
            "name": "yapper_in_program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper in program ID",
              "title": "Yapper In Program Id"
            },
            "description": "Yapper in program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YapperDOPSMultiplierResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/minimal_yap_score": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get Last Day Minimal Nonzero Yap Score",
        "description": "Get last day minimal nonzero yap score",
        "operationId": "get_last_day_minimal_nonzero_yap_score_api_v0_yappers_minimal_yap_score_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastDayMinimalNonzeroYapScoreResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/yapper/{yapper_id}/last_yap_score": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get Last Yap Score By Yapper Id",
        "description": "Get latest yap score by yapper ID.",
        "operationId": "get_last_yap_score_by_yapper_id_api_v0_yappers_yapper__yapper_id__last_yap_score_get",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastYapScoreByYapperResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/yappers/unique_in_timerange": {
      "get": {
        "tags": [
          "api-v0",
          "yappers"
        ],
        "summary": "Get Unique Yappers By Timerange",
        "description": "Get unique yappers by timerange with tweets count.",
        "operationId": "get_unique_yappers_by_timerange_api_v0_yappers_unique_in_timerange_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Start timestamp",
              "title": "Start Date"
            },
            "description": "Start timestamp"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "End timestamp",
              "title": "End Date"
            },
            "description": "End timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperByTimerangeResponse"
                  },
                  "title": "Response Get Unique Yappers By Timerange Api V0 Yappers Unique In Timerange Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/filters/filter": {
      "post": {
        "tags": [
          "api-v0",
          "filters"
        ],
        "summary": "Add Filter",
        "description": "Add a new filter to a program",
        "operationId": "add_filter_api_v0_filters_filter_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFilterToProgramRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFilterToProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/filters/program/{program_id}": {
      "get": {
        "tags": [
          "api-v0",
          "filters"
        ],
        "summary": "Get Filters",
        "description": "Get filters by program ID",
        "operationId": "get_filters_api_v0_filters_program__program_id__get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFiltersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/filters/filter/result": {
      "post": {
        "tags": [
          "api-v0",
          "filters"
        ],
        "summary": "Add Filter Result",
        "description": "Add a new filter result",
        "operationId": "add_filter_result_api_v0_filters_filter_result_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFilterResultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFilterResultResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/filters/filter/{filter_id}/tweet/{tweet_id}": {
      "get": {
        "tags": [
          "api-v0",
          "filters"
        ],
        "summary": "Check Tweet",
        "description": "Check if a tweet surpasses a filter",
        "operationId": "check_tweet_api_v0_filters_filter__filter_id__tweet__tweet_id__get",
        "parameters": [
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter ID",
              "title": "Filter Id"
            },
            "description": "Filter ID"
          },
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet ID",
              "title": "Tweet Id"
            },
            "description": "Tweet ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet": {
      "post": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Add Tweet",
        "description": "Add a new tweet",
        "operationId": "add_tweet_api_v0_tweets_tweet_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTweetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Tweet",
        "description": "Get tweet by Twitter ID",
        "operationId": "get_tweet_api_v0_tweets_tweet_get",
        "parameters": [
          {
            "name": "twitter_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Twitter ID",
              "title": "Twitter Id"
            },
            "description": "Twitter ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetResponseData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet/{tweet_id}/link2program/{program_id}": {
      "post": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Add Tweet To Program",
        "description": "Add a new tweet",
        "operationId": "add_tweet_to_program_api_v0_tweets_tweet__tweet_id__link2program__program_id__post",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet ID",
              "title": "Tweet Id"
            },
            "description": "Tweet ID"
          },
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTweetToProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/last_in_program": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Last Tweet Ts By Program Id",
        "description": "Get the last tweet timestamp by program ID",
        "operationId": "get_last_tweet_ts_by_program_id_api_v0_tweets_last_in_program_get",
        "parameters": [
          {
            "name": "program_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastProgramTweetTsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/last_for_yapper": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Last Tweet Ts For Yapper",
        "description": "Get the last tweet timestamp for a yapper",
        "operationId": "get_last_tweet_ts_for_yapper_api_v0_tweets_last_for_yapper_get",
        "parameters": [
          {
            "name": "yapper_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Yapper ID",
              "title": "Yapper Id"
            },
            "description": "Yapper ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastYapperTweetTsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet/{tweet_x_id}/check": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Check If Tweet Exists By Tweet X Id",
        "description": "Check if tweet exists by Tweet X ID",
        "operationId": "check_if_tweet_exists_by_tweet_x_id_api_v0_tweets_tweet__tweet_x_id__check_get",
        "parameters": [
          {
            "name": "tweet_x_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tweet X ID",
              "title": "Tweet X Id"
            },
            "description": "Tweet X ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIfTweetExistsByTwitterIdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet/{tweet_in_program_id}/stats": {
      "patch": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Add Stats To Tweet In Program",
        "description": "Add stats to a tweet in program",
        "operationId": "add_stats_to_tweet_in_program_api_v0_tweets_tweet__tweet_in_program_id__stats_patch",
        "parameters": [
          {
            "name": "tweet_in_program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet in program ID",
              "title": "Tweet In Program Id"
            },
            "description": "Tweet in program ID"
          },
          {
            "name": "global_tweets_lifetime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Epoch size in days",
              "title": "Global Tweets Lifetime"
            },
            "description": "Epoch size in days"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddStatsToTweetInProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweets_in_program": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Tweets By Timerange And Program Id",
        "description": "Get tweets by timerange and program ID",
        "operationId": "get_tweets_by_timerange_and_program_id_api_v0_tweets_tweets_in_program_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Start timestamp",
              "title": "Start Date"
            },
            "description": "Start timestamp"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "End timestamp",
              "title": "End Date"
            },
            "description": "End timestamp"
          },
          {
            "name": "program_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTweetsByTimerangeAndProgramIdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet/{tweet_id}": {
      "patch": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Update Tweet",
        "description": "Update tweet engagement",
        "operationId": "update_tweet_api_v0_tweets_tweet__tweet_id__patch",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet ID",
              "title": "Tweet Id"
            },
            "description": "Tweet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTweetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetResponseData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet/{tweet_id}/find_in_program/{program_id}": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Check If Tweet In Program",
        "description": "Check if tweet in program",
        "operationId": "check_if_tweet_in_program_api_v0_tweets_tweet__tweet_id__find_in_program__program_id__get",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet ID",
              "title": "Tweet Id"
            },
            "description": "Tweet ID"
          },
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIfTweetInProgramResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/source": {
      "post": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Create Source",
        "description": "Create a new source",
        "operationId": "create_source_api_v0_tweets_source_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Source By Name",
        "description": "Get source by name",
        "operationId": "get_source_by_name_api_v0_tweets_source_get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Source name",
              "title": "Name"
            },
            "description": "Source name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/sources": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get All Sources",
        "description": "Get all sources",
        "operationId": "get_all_sources_api_v0_tweets_sources_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/tweet_in_program_stats/{tweet_in_program_stats_id}": {
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Tweet In Program Stats By Id",
        "description": "Get tweet in program stats by ID",
        "operationId": "get_tweet_in_program_stats_by_id_api_v0_tweets_tweet_in_program_stats__tweet_in_program_stats_id__get",
        "parameters": [
          {
            "name": "tweet_in_program_stats_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet in program stats ID",
              "title": "Tweet In Program Stats Id"
            },
            "description": "Tweet in program stats ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetInProgramStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/tweets/ai_metric": {
      "post": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Add Tweet Ai Metric",
        "description": "Add a new tweet AI metric",
        "operationId": "add_tweet_ai_metric_api_v0_tweets_ai_metric_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTweetAIMetricRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTweetAIMetricResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "api-v0",
          "tweets"
        ],
        "summary": "Get Tweet Ai Metric",
        "description": "Get tweet AI metric by tweet ID",
        "operationId": "get_tweet_ai_metric_api_v0_tweets_ai_metric_get",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Tweet ID",
              "title": "Tweet Id"
            },
            "description": "Tweet ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetAIMetricResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/rewards/yapper_dops_reward": {
      "post": {
        "tags": [
          "api-v0",
          "rewards"
        ],
        "summary": "Add Yapper Dops Reward",
        "description": "Add a new yapper DOPS reward",
        "operationId": "add_yapper_dops_reward_api_v0_rewards_yapper_dops_reward_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddYapperDopsRewardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddYapperDopsRewardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/rewards/yapper_dops_rewards/batch": {
      "post": {
        "tags": [
          "api-v0",
          "rewards"
        ],
        "summary": "Add Yapper Dops Rewards Batch",
        "description": "Add a batch of yapper DOPS rewards",
        "operationId": "add_yapper_dops_rewards_batch_api_v0_rewards_yapper_dops_rewards_batch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddYapperDopsRewardsBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddYapperDopsRewardsBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/rewards/yapper_dops_rewards/last_reward_period/{program_id}": {
      "get": {
        "tags": [
          "api-v0",
          "rewards"
        ],
        "summary": "Get Last Dops Reward Period",
        "description": "Get last dops reward period",
        "operationId": "get_last_dops_reward_period_api_v0_rewards_yapper_dops_rewards_last_reward_period__program_id__get",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Program ID",
              "title": "Program Id"
            },
            "description": "Program ID"
          },
          {
            "name": "dops_system",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DopsSystem",
              "description": "DOPS system type",
              "default": "decay_factor_only"
            },
            "description": "DOPS system type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastRewardPeriodResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/rewards/dops_reward_pool": {
      "post": {
        "tags": [
          "api-v0",
          "rewards"
        ],
        "summary": "Add Dops Reward Pool",
        "description": "Add a new dops reward pool",
        "operationId": "add_dops_reward_pool_api_v0_rewards_dops_reward_pool_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDopsRewardPoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDopsRewardPoolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/rewards/unspent_program_dops_reward": {
      "post": {
        "tags": [
          "api-v0",
          "rewards"
        ],
        "summary": "Add Unspent Program Dops Reward",
        "description": "Add a new unspent program dops reward",
        "operationId": "add_unspent_program_dops_reward_api_v0_rewards_unspent_program_dops_reward_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUnspentProgramDopsRewardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUnspentProgramDopsRewardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/snapshots/cleanup": {
      "delete": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Cleanup Old Snapshots",
        "description": "Cleanup old snapshots",
        "operationId": "cleanup_old_snapshots_api_v0_datamarts_snapshots_cleanup_delete",
        "parameters": [
          {
            "name": "older_than_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Delete snapshots older than this timestamp",
              "title": "Older Than Ts"
            },
            "description": "Delete snapshots older than this timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CleanupSnapshotDataResponse"
                  },
                  "title": "Response Cleanup Old Snapshots Api V0 Datamarts Snapshots Cleanup Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/programs/engagement": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Programs Engagement Data",
        "description": "Get programs engagement data",
        "operationId": "get_programs_engagement_data_api_v0_datamarts_programs_engagement_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramEngagementDataResponse"
                  },
                  "title": "Response Get Programs Engagement Data Api V0 Datamarts Programs Engagement Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/programs/mindshare": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Programs Mindshare Data",
        "description": "Get programs mindshare data",
        "operationId": "get_programs_mindshare_data_api_v0_datamarts_programs_mindshare_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramMindshareDataResponse"
                  },
                  "title": "Response Get Programs Mindshare Data Api V0 Datamarts Programs Mindshare Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/programs/rewards": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Programs Rewards Data",
        "description": "Get programs rewards data",
        "operationId": "get_programs_rewards_data_api_v0_datamarts_programs_rewards_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramRewardsDataResponse"
                  },
                  "title": "Response Get Programs Rewards Data Api V0 Datamarts Programs Rewards Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/programs/snapshot": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Programs Snapshot Data",
        "description": "Get programs snapshot data",
        "operationId": "get_programs_snapshot_data_api_v0_datamarts_programs_snapshot_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramSnapshotDataResponse"
                  },
                  "title": "Response Get Programs Snapshot Data Api V0 Datamarts Programs Snapshot Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers/engagement": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers Engagement Data",
        "description": "Get yappers engagement data",
        "operationId": "get_yappers_engagement_data_api_v0_datamarts_yappers_engagement_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperEngagementDataResponse"
                  },
                  "title": "Response Get Yappers Engagement Data Api V0 Datamarts Yappers Engagement Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers/mindshare": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers Mindshare Data",
        "description": "Get yappers mindshare data",
        "operationId": "get_yappers_mindshare_data_api_v0_datamarts_yappers_mindshare_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperMindshareDataResponse"
                  },
                  "title": "Response Get Yappers Mindshare Data Api V0 Datamarts Yappers Mindshare Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers/rewards": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers Rewards Data",
        "description": "Get yappers rewards data",
        "operationId": "get_yappers_rewards_data_api_v0_datamarts_yappers_rewards_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperRewardsDataResponse"
                  },
                  "title": "Response Get Yappers Rewards Data Api V0 Datamarts Yappers Rewards Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers/spider_chart": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers Spider Chart Data",
        "description": "Get yappers spider chart data",
        "operationId": "get_yappers_spider_chart_data_api_v0_datamarts_yappers_spider_chart_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperSpiderChartDataResponse"
                  },
                  "title": "Response Get Yappers Spider Chart Data Api V0 Datamarts Yappers Spider Chart Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers/snapshot": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers Snapshot Data",
        "description": "Get yappers snapshot data",
        "operationId": "get_yappers_snapshot_data_api_v0_datamarts_yappers_snapshot_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperSnapshotDataResponse"
                  },
                  "title": "Response Get Yappers Snapshot Data Api V0 Datamarts Yappers Snapshot Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yapper_in_program/engagement": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers In Program Engagement Data",
        "description": "Get yappers in program engagement data",
        "operationId": "get_yappers_in_program_engagement_data_api_v0_datamarts_yapper_in_program_engagement_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperInProgramEngagementDataResponse"
                  },
                  "title": "Response Get Yappers In Program Engagement Data Api V0 Datamarts Yapper In Program Engagement Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yapper_in_program/mindshare": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers In Program Mindshare Data",
        "description": "Get yappers in program mindshare data",
        "operationId": "get_yappers_in_program_mindshare_data_api_v0_datamarts_yapper_in_program_mindshare_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperInProgramMindshareDataResponse"
                  },
                  "title": "Response Get Yappers In Program Mindshare Data Api V0 Datamarts Yapper In Program Mindshare Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yapper_in_program/rewards": {
      "get": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Get Yappers In Program Rewards Data",
        "description": "Get yappers in program rewards data",
        "operationId": "get_yappers_in_program_rewards_data_api_v0_datamarts_yapper_in_program_rewards_get",
        "parameters": [
          {
            "name": "until_ts",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter data until timestamp (inclusive)",
              "title": "Until Ts"
            },
            "description": "Filter data until timestamp (inclusive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/YapperInProgramRewardsDataResponse"
                  },
                  "title": "Response Get Yappers In Program Rewards Data Api V0 Datamarts Yapper In Program Rewards Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/tweets_engagement": {
      "post": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Add Tweet Engagement Data Batch",
        "description": "Add tweet engagement data batch",
        "operationId": "add_tweet_engagement_data_batch_api_v0_datamarts_tweets_engagement_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddTweetEngagementDataRequest"
                },
                "type": "array",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Update Tweet Engagement Data Batch",
        "description": "Update tweet engagement data batch",
        "operationId": "update_tweet_engagement_data_batch_api_v0_datamarts_tweets_engagement_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/UpdateTweetEngagementDataRequest"
                },
                "type": "array",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/tweets_mindshare": {
      "post": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Add Tweet Mindshare Data Batch",
        "description": "Add tweet mindshare data batch",
        "operationId": "add_tweet_mindshare_data_batch_api_v0_datamarts_tweets_mindshare_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddTweetMindshareDataRequest"
                },
                "type": "array",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/yappers_rewards": {
      "post": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Add Yapper Rewards Data Batch",
        "description": "Add yapper rewards data batch",
        "operationId": "add_yapper_rewards_data_batch_api_v0_datamarts_yappers_rewards_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddYapperRewardsDataRequest"
                },
                "type": "array",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/tweets_spider_chart_data": {
      "post": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Add Tweet Spider Chart Data",
        "description": "Add tweet spider chart data",
        "operationId": "add_tweet_spider_chart_data_api_v0_datamarts_tweets_spider_chart_data_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTweetSpiderChartDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/datamarts/program_metrics_snapshots": {
      "post": {
        "tags": [
          "api-v0",
          "datamarts"
        ],
        "summary": "Add Program Metrics Snapshot Batch",
        "description": "Add program metrics snapshot batch",
[...]
